<div class="nav">
<%= link_to root_path do %>
  <img src="<%= asset_path('logo.png')%>", width="120px">
<% end %>
  <ul>
    <li>
      <%= link_to "Explore", "#", class: "" %>
    </li>
    <li>
      <%= link_to "Home", "#", class: "" %>
    </li>
    <li>
      <%= link_to "Works", "#", class: "" %>
    </li>
  </ul>
</div>

<div class= "banner">
<h1>HI, I'M JACOPO BELLI</h1>
<p>Front End Developer</p>
</div>
