<div class="nav">
<%= link_to root_path, class: "" do %>
  <%= image_tag "https://avatars.githubusercontent.com/u/98776007?v=4", width: "60px" %>
<% end %>
  <ul>
    <li>
      <%= link_to "Explore", "#", class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Home", "#", class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Works", "#", class: "nav-link" %>
    </li>
  </ul>
</div>
