<%= render "pages/shared/nav" %>
<%= render "pages/shared/banner" %>
<div id="wrapper">
<div class= "container">
<%= render "pages/shared/info" %>
</div>
</div>
<div class="container about">
<%= render "pages/shared/about" %>
</div>
<%= render "pages/shared/social" %>
