<!-- banner and navbar !-->
<%= render "pages/shared/nav" %>
<div id="image">
<div class="container c-banner">
<%= render "pages/shared/banner" %>
</div>
</div>
<!-- about !-->
<div class="background" id="about">
  <div class="container about">
  <%= render "pages/shared/about" %>
  </div>
</div>
<!-- experience !-->
<div class="container" id="experience">
<%= render "pages/shared/experience" %>
</div>

<!-- works !-->
<div class="background" id="works">
  <div class="container works">
  <%= render "pages/shared/works" %>
  </div>
</div>
<!--footer!-->
<%= render "pages/shared/footer" %>

<!--contacts!-->
<%= render "pages/shared/social" %>
