<!-- banner and navbar !-->
<%= render "pages/shared/nav" %>
<div class="container c-banner">
<%= render "pages/shared/banner" %>
</div>
<!-- about !-->
<div class="background">
  <div class="container about">
  <%= render "pages/shared/about" %>
  </div>
</div>
<!-- experience !-->
<div class="container experience">
<%= render "pages/shared/experience" %>
</div>
<%= render "pages/shared/social" %>
